Object.assign(Form.prototype, {template(){ return `


  <div class="row">
    <div class="col-4">
      <form>
        <div class="form-group mt-3">
          <label class="">Title</label>
          <input class="form-control" id="filter-title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label class="">Author</label>
          <input class="form-control" id="filter-author" placeholder="Authors name">
        </div>
        <div class="form-group">
          <label class="">Country</label>
          <input class="form-control" id="filter-country" placeholder="Enter country">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select language</label>
          <select class="form-control" id="filter-language">

          </select>
        </div>
        <span class="input-group-text" id="">Pages from-to</span>
        <div class="input-group my-2">
          <div class="input-group-prepend">

          </div>
          <input type="text" class="form-control" id="filter-pages-from">
          <input type="text" class="form-control" id="filter-pages-to">
        </div>
        <div class="form-group">
          <label class="">Year</label>
          <input class="form-control" id="filter-year" placeholder="Enter year">
        </div>
        <div class="form-check">
        </div>
        <button type="button" class="btn btn-dark">Submit</button>
      </form>
    </div>
    <div class="col-4">
      <div class="result mt-3 text-center">
        <h1>Your book</h1>
        
      </div>
    </div>
  </div>

`;}});
